<!-- Toolbar -->
<nav id="top-menu" class="toolbar navbar navbar-expand" role="banner" (scroll)="onScroll($event)">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <a id="home" aria-label="Logo and Home Link" href="#" title="Home"><span>Discover Berlin</span></a>
    <div class="spacer"></div>
    
    <app-top-menu-options></app-top-menu-options>

    <div class="spacer"></div>

    <div class="auth-menu">
      <div class="" *ngIf="!isLoggedIn">
        <a href="/register" class="mx-2" routerLink="register">Register</a>
        <a href="/login" class="mx-2" routerLink="login">Login</a>
      </div>
    
      <div class="" *ngIf="isLoggedIn">
        <a href="/profile" class="" routerLink="profile">Profile</a>
        <a href="/logout" class="mx-2" routerLink="logout">Logout</a>
      </div>
      </div>


  </nav>
  